body{

    background-color:#333399;
    text-align: center;
    padding-top: 40px;
}

h1{
    color: #f30;
    font-weight: bold;

}

.burger-form > button[type=submit]{
    margin: 15px 0;

} 



.well-burger{

    border-radius: 6px;

}



.well-burger > p{

    display: inline-block;

    margin: 7px 0;

}





p {
    color:  white;
    margin-top: 5px;
}