body{

    background-color:#333399;
    text-align: center;
    padding-top: 40px;
}

h1{
    color: #f30;
    font-family: 'Press Start 2P', cursive;
    /* font-weight: bold; */

}

.gameForm > button[type=submit]{
    margin: 15px 0;

} 

.pull-right {
    margin-top: 8px;
}

.well-burger{
    border-radius: 6px;

}



.well-burger > p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 32 px;
    font-weight: bold;
    display: inline-block;
    margin: 7px 0;
}





#buttonText {
    color:  white;
    margin-top: 5px;
}